* {
	box-sizing: border-box;
}

.body {
	text-align: center;
}
.part {
	width: 50px;
	height: 50px;
	background-color: gray;
	border-radius: 8px;
	position: relative;
	left: 100px;
	top: 100px;
	border: 3px solid #D1D3D1;
}

.part:first-child {
	background-color: red;
}

#parent_wrap {
	position: relative;
	width: 100%;
}

#parent_wrap:after
{
content: '';
display: block;
clear: both;
}

#anoter_parent_wrap {
	position: relative;
	right: 50%;
	float: right;
}

#parent_inner {
	position: relative;
	z-index: 1;
	right: -50%;
}

#parent {
	width: 700px;
	height: 700px;
	border-radius: 8px;
	/*border: 3px solid black;*/
	background-color: #D1D3D1;
}

#food {
	width: 50px;
	height: 50px;
	background-color: green;
	border-radius: 8px;
	border: 3px solid #D1D3D1;
	z-index: 999;
}

#score_wrap {
	margin-top: 10px;
	margin-bottom: 20px;
	height: 70px;
	text-align: center;
}

#score {
	margin: auto;
	height: 100%;
	width: 300px;
	background-color: #FF80C0;
	border: 1px dashed #FF0080;
	color: #800080;
	border-radius: 3px;
	text-align: center;
}